<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Ajuda
        </ion-title>

        <ion-buttons collapse="true" slot="end">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="close-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <h1>
        Pedra Papel Tesoura
    </h1>

    <ul>
        <li>A pedra ganha á tesoura</li>
        <li>O papel ganha á pedra</li>
        <li>A tesoura ganha ao papel</li>
    </ul>

    <div class="image">
        <img src="assets/helper.png"/>
    </div>
</ion-content>
